<div id="wrapper-conferencia">
    <div id="container-conferencia">




        <div class="column-conferencia ">


            <div class="login-panel-conferencia">



                <form action="/pedidos/registrar" method="post" class="input-mudanca">


                    <label for="nome" class="form-label">Nome</label>
                    <input placeholder="Nome completo" type="text" name="nome" required />


                    <label for="motivo" class="form-label">Motivo</label>
                    <input placeholder="Descreva a situação para que possamos interceder!" type="textarea"
                        name="motivo" />



                    <input type="submit" id="fazer-inscricao" value="Enviar pedido de oração" />
                </form>

            </div>

        </div>

    </div>
</div>