<header>



    <nav class="nav">


        <a href="#" class="logo">
            <img src="../../img/vetorsemtraço.png" alt="">
        </a>


        <ul class="nav-list">


            <li>
                <a href="/">Home</a>
            </li>



            <li>
                <a href="#conferencia">CONFERÊNCIA JOVEM</a>
            </li>





            <li>
                <a href="#cultos">Cultos</a>
            </li>

            <li>
                <a href="#sobre">Sobre</a>
            </li>


            <li>
                <a href="#contatos">Contato</a>
            </li>
        </ul>
    </nav>
</header>










<main>
    <section class="home">
        <div class="home-text">
            <h4 class="text-h4"> RESGATE</h4>
            <h1 class="text-h1">S.O.S</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="/pessoas/registrar" class="home-btn">INSCREVA-SE</a>


        </div>

        <div class="home-img">
            <img src="../../img/biblia.jpg" alt="">
        </div>
    </section>
</main>


<script src="../js/script.js"></script>