<section class="about" id="sobre">


    <div class="frasespix">
        <h2>ESCANEIE O QR CODE OU CLIQUE (NO CARTÃO) PARA FAZER EM ATÉ 12X</h2>

        <hr>

        <h3>FAÇA A INSCRIÇÃO APENAS DEPOIS DE EFETUAR O PAGAMENTO</h3>
        <a href="/pessoas/registrar" class="btn btn-primary btn-inscreva-se">INSCREVA-SE</a>
    </div>

    <div class="pix">
        <img src=" ../../img/pix2.jpg">

        <button id="pixcopy" onclick="copiar()"
            value="00020126360014br.gov.bcb.pix011423773094000137520400005303986540549.995802BR5925IGREJA EVANGELICA RESTITU6015Vargem Grande d610913880-00062290525ZWGA069104571722464580221630465C7">CLIQUE
            PARA COPIAR</button>


        <a href="https://pay.infinitepay.io/henrique_canato/59,99" target="_blank">NO CARTÃO</a>
        <a href="https://wa.me/5519994718633?text=Paz%20do%20Senhor%2C%20acabei%20de%20fazer%20o%20pagamento%2C%20vou%20te%20mandar%20o%20comprovante!"
            target="_blank">ENVIAR COMPROVANTE</a>

    </div>



</section>


<script>


    const input = document.querySelector('#pixcopy')

    function copiar() {
        navigator.clipboard.writeText(input.value).then(() => {
            alert('Código copiado com sucesso!')
        })
    }




</script>