<header>



    <nav class="nav">


        <a href="#" class="logo">
            <img src="../../img/vetorsemtraço.png" alt="">
        </a>


        <ul class="nav-list">


            <li>
                <a href="/" target="_parent">Home</a>
            </li>



            <li>
                <a href="#conferencia">CONFERÊNCIA JOVEM</a>
            </li>





            <li>
                <a href="#cultos">Cultos</a>
            </li>

            <li>
                <a href="#sobre">Sobre</a>
            </li>


            <li>
                <a href="#contatos">Contato</a>
            </li>
        </ul>
    </nav>
</header>





<section class="about pagamento" id="sobre">


    <div class="frasespix">
        <h2>SÓ FALTA 1 PASSO PARA COMPLETAR</h2>
        <p>FAÇA A TRANSFERÊNCIA PARA O QR CODE AO LADO <span>OU</span> EM ATÉ 12X NO CARTÃO! </p>
    </div>

    <div class="pix">
        <img src=" ../../img/pix.jpg">

        <button id="pixcopy" onclick="copiar()"
            value="00020101021126580014BR.GOV.BCB.PIX01366215aa67-ca22-4841-a7c1-4e5d1f482506520400005303986540549.995802BR592450.486.046 HENRIQUE BONF6008SAOPAULO61080132305062070503***63044005">CLIQUE
            PARA COPIAR</button>


        <a href="https://pay.infinitepay.io/henrique_canato/59,99" target="_blank">NO CARTÃO</a>
        <a href="https://wa.me/5519994718633?text=Paz%20do%20Senhor%2C%20acabei%20de%20fazer%20o%20pagamento%2C%20vou%20te%20mandar%20o%20comprovante!"
            target="_blank">ENVIAR COMPROVANTE</a>

    </div>



</section>


<script>


    const input = document.querySelector('#pixcopy')

    function copiar() {
        navigator.clipboard.writeText(input.value).then(() => {
            alert('Código copiado com sucesso!')
        })
    }




</script>