<header>



    <nav class="nav">


        <a href="#" class="logo">
            <img src="../../img/vetorsemtraço.png" alt="">
        </a>


        <ul class="nav-list">


            <li>
                <a href="#home">Home</a>
            </li>



            <li>
                <a href="#conferencia">CONFERÊNCIA JOVEM</a>
            </li>





            <li>
                <a href="#cultos">Cultos</a>
            </li>

            <li>
                <a href="#sobre">Sobre</a>
            </li>


            <li>
                <a href="#contatos">Contato</a>
            </li>
        </ul>
    </nav>
</header>





<section class="about" id="sobre">


    <div>
        <h2>SÓ FALTA 1 PASSO PARA COMPLETAR</h2>
        <p>FAÇA A TRANSFERÊNCIA PARA O QR CODE AO LADO E MANDE O COMPROVANTE PARA UM DE NOSSOS LÍDERES </p>
    </div>

    <div class="pix">
        <img src=" ../../img/pix.jpg">

        <a href="https://wa.me/5519983800864?text=Paz%20do%20Senhor%2C%20acabei%20de%20fazer%20o%20pagamento%2C%20vou%20te%20mandar%20o%20comprovante!"
            target="_blank">ENVIAR COMPROVANTE</a>

    </div>



</section>