<div id="wrapper-conferencia">
    <div id="container-conferencia">



        <div class="column-conferencia ">
            <div class="login-panel-conferencia">
                <div>
                    <img src="./assets/logo.png" class="logo-img-jovem-conferencia" alt="">
                </div>

                <form action="/pessoas/registrar" method="post" class="input-mudanca">
                    <label for="nome" class="form-label">Nome</label>
                    <input placeholder="Nome completo" type="text" name="nome" required />

                    <label for="email" class="form-label">E-mail</label>
                    <input placeholder="E-mail mais usado" type="text" name="email" required />

                    <label for="idade" class="form-label">Idade</label>
                    <input placeholder="Digite sua idade" type="number" name="idade" required />

                    <label for="telefone" class="form-label">Telefone</label>
                    <input placeholder="Telefone ou celular" type="text" name="telefone" required />

                    <label for="cidade" class="form-label">Cidade</label>
                    <input placeholder="Sua cidade" type="text" name="cidade" required />



                    <input type="submit" id="fazer-inscricao" value="Fazer inscrição" />
                </form>


                <form action="/pessoas/registrar" method="post" class="input-mudanca">

                </form>
            </div>



        </div>

    </div>
</div>