<header>



    <nav class="nav">


        <a href="#" class="logo">
            <img src="../../img/vetorsemtraço.png" alt="">
        </a>


        <ul class="nav-list">


            <li>
                <a href="#home">Home</a>
            </li>



            <li>
                <a href="#conferencia">CONFERÊNCIA JOVEM</a>
            </li>


            <li>
                <a href="#cultos">Cultos</a>
            </li>

            <li>
                <a href="#sobre">Sobre</a>
            </li>


            <li>
                <a href="#contatos">Contato</a>
            </li>
        </ul>
    </nav>
</header>



<div id="wrapper-conferencia">
    <div id="container-conferencia">

        <div class="column-conferencia left-conferencia">
            <div class="main-conferencia">

            </div>
        </div>

        <div class="column-conferencia right-conferencia">
            <div class="login-panel-conferencia">
                <div>
                    <img src="./assets/logo.png" class="logo-img-jovem-conferencia" alt="">
                </div>

                <form action="/pessoas/registrar" method="post" class="input-mudanca">
                    <label for="nome" class="form-label">Nome</label>
                    <input placeholder="Nome completo" type="text" name="nome" required />

                    <label for="email" class="form-label">E-mail</label>
                    <input placeholder="E-mail mais usado" type="text" name="email" required />

                    <label for="idade" class="form-label">Idade</label>
                    <input placeholder="Digite sua idade em números" type="text" name="idade" required />

                    <label for="telefone" class="form-label">Telefone</label>
                    <input placeholder="Telefone ou celular" type="text" name="telefone" required />



                    <input type="submit" value="Fazer inscrição" />
                </form>


                <form action="/pessoas/registrar" method="post" class="input-mudanca">

                </form>
            </div>



        </div>

    </div>
</div>