<header>
    <nav class="navigation">
        <a href="/" class="logo"> <span>S.O.S RESGATE</span></a>
        <ul class="nav-menu">
            <li class="nav-item"> <a href="#">HOME</a> </li>
            <li class="nav-item"> <a href="#">HOME</a> </li>
            <li class="nav-item"> <a href="#">HOME</a> </li>
            <li class="nav-item"> <a href="#">HOME</a> </li>
            <i class='bx bx-search'></i>
        </ul>

        <div class="menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>


<main>
    <section class="formulario">
        <form action="/pessoas/registrar" method="post">
            <div class="mb-3">

                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>


                <div class="mb-3">
                    <label for="idade" class="form-label">Idade</label>
                    <input type="number" class="form-control" id="idade" name="idade">
                </div>


                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone</label>
                    <input type="tel" class="form-control" id="telefone" name="telefone">
                </div>














                <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </section>
</main>