<div class="d-flex justify-content-center centralizar">

    <div class="card" style="width: 18rem;">
        <img src="../../img/biblia.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-center">Sua inscrição foi feita, aguarde o contato de um de nossos líderes para
                efetuar o
                pagamento!</p>
        </div>
    </div>

</div>