<h1 class="atention">ATENÇÃO!!!</h1>

<div class="container-verification">
    <div class="column-verification left-verification">
        <a href="https://wa.me/5519994718633?text=Paz%20do%20Senhor%2C%20gostaria%20de%20fazer%20a%20inscrição%20da%20minha%20caravana!"
            target="_blank" class="btn btn-primary btn-inscricao">INSCRIÇÃO
            CARAVANAS</a>
    </div>

    <div class="column-verification right-verification">
        <a href="/pessoas/pagamento" class="btn btn-primary btn-inscricao">INSCRIÇÃO PESSOAL</a>
    </div>
</div>