#wrapper-conferencia {
    display: flex;
    align-items: center;
    justify-content: center;
}


#container-conferencia {
    margin: 0 auto;
    height: 100vh;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.login-panel-conferencia {
    width: 800px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 20px 0;
}



form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.input-mudanca input[type="text"],
.input-mudanca input[type="number"],
.input-mudanca input[type="textarea"] {
    background-color: #e6e6e6;
    border: 1px solid rgb(236, 234, 234);
    height: 40px;
    border-radius: 4px;
    margin: 0 0 5px 0;
    padding-left: 5px;
    font-size: 13px;
    width: 80%;
    color: #000000;
}

.input-mudanca input[type="text"]::placeholder,
.input-mudanca input[type="number"]::placeholder {

    color: #000000;
}



.input-mudanca label {
    margin: 0;
}

.pix img {
    width: 80%;
    margin-bottom: 20px;
}




@media (max-width: 770px) {
    .column-conferencia {
        width: 80%;
    }

    .login-panel-conferencia {
        width: 100%;
    }

}



@media (max-width: 426px) {

    #fazer-inscricao {
        width: 250px;
    }

    .container-verification {
        flex-direction: column;
    }

    .container-verification {
        margin: 50px auto;
        height: 400px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        overflow: hidden;
    }

    .column-verification {
        margin-top: 50px !important;
        height: 200px !important;
        text-align: center;
        flex-grow: 1;
        width: 50%;

    }

}

@media (max-width: 321px) {
    #fazer-inscricao {
        width: 200px;
        font-size: 20px;
    }
}

@media (max-width: 350px) {}

@media (max-width: 350px) {}